<script setup>
//接收父组件传递的菜单数据
defineProps(['menuList'])
</script>

<template>
  <!-- 有下级菜单的情况 -->
  <template v-for="menu in menuList" :key="menu.path">
    <!-- 判断当前的菜单是否有下级 -->
    <el-sub-menu v-if="menu.children && menu.children.length > 0" :index="menu.path">
      <template #title>
        <el-icon>
          <!-- 动态组件的方式显示图标 -->
          <component :is="menu.meta.icon" />
        </el-icon>
        <span>{{menu.meta.title}}</span>
      </template>
      <!-- 递归调用 -->
      <menu-item :menuList="menu.children"/>
    </el-sub-menu>
    <!-- 无下级菜单的情况 -->
    <el-menu-item style="color:#f4f4f5" v-else :index="menu.path">
      <el-icon>
        <!-- 动态组件的方式显示图标 -->
        <component :is="menu.meta.icon" />
      </el-icon>
      <template #title>{{menu.meta.title}}</template>
    </el-menu-item>
  </template>
</template>

<style scoped>

</style>