<script setup>
import {reactive,computed} from 'vue';
import MenuItem from "./MenuItem.vue";
import MenuLogo from "./MenuLogo.vue";
import { useRoute} from "vue-router";
import {collapseStore} from "@/store/collapse/index.js";
import Layout from "@/views/layout/Layout.vue";
//获取store
const colstore = collapseStore();
//获取collapse
const isCollapse = computed(()=>{
  return colstore.getCollapse;
});
const route = useRoute();
//获取激活的菜单
const activeIndex = computed(()=>{
  const {path} = route;
  return path;
})

//菜单数据
let menuList = reactive([
  {
    path: "/dashboard",
    component: Layout,
    name: "dashboard",
    redirect: 'dashboard',
    meta:{
      title: "首页",
      icon: "HomeFilled",
    }
  },
  {
  path: "/system",
  component: "Layout",
  name: "system",
  meta:{
    title: "系统管理",
    icon: "Setting",
    roles: ["sys:manage"]
  },
  children: [
    {
      path: "/userList",
      component: "/system/user/userList",
      name: "userList",
      meta: {
        title: "用户管理",
        icon: "UserFilled",
        roles: ["sys:user"]
      }
    },
    {
      path: "/roleList",
      component: "/system/role/roleList",
      name: "roleList",
      meta: {
        title: "角色管理",
        icon: "Wallet",
        roles: ["sys:role"]
      }
    },
    {
      path: "/menuList",
      component: "/system/menu/menuList",
      name: "menuList",
      meta: {
        title: "菜单管理",
        icon: "Menu",
        roles: ["sys:role"]
      }
    },
    {
      path: "/logList",
      component: "/system/log/logList",
      name: "logList",
      meta: {
        title: "日志管理",
        icon: "Notebook",
        roles: ["sys:log"]
      }
    },
    {
      path: "/code",
      component: "/system/code/code",
      name: "code",
      meta: {
        title: "代码生成",
        icon: "Tools",
        roles: ["sys:code"]
      }
    }
  ]
},
{
  path: "/goodsRoot",
  component: "Layout",
  name: "goodsRoot",
  meta:{
    title: "物资管理",
    icon: "Setting",
    roles: ["sys:goodsRoot"]
  },
  children: [
    {
      path: "/goodsType",
      component: "/goods/goodsType",
      name: "goodsType",
      meta: {
        title: "物资类型",
        icon: "UserFilled",
        roles: ["sys:goodsType"]
      }
    },
    {
      path: "/goodsList",
      component: "/goods/goodsList",
      name: "goodsList",
      meta: {
        title: "物资管理",
        icon: "Wallet",
        roles: ["sys:goodsList"]
      }
    }
  ]
}])
</script>

<template>
  <menu-logo :isCollapsed="isCollapse"/>
  <el-menu
      :default-active="activeIndex"
      :collapse="isCollapse"
      class="el-menu-vertical-demo"
      unique-opened
      background-color="#2d3a4b"
      router
  >
  <menu-item :menu-list="menuList"/>
  </el-menu>
</template>

<style scoped>
.el-menu-vertical-demo:not(.el-menu--collapse){
  width: 230px;
  min-height: 400px;
}

.el-menu{
  border-right: none;
}

:deep(.el-sub-menu .el-sub-menu__title){
  color: #f4f4f5 !important;
}

:deep(.el-menu .el-menu-item){
  color: #bfcbd9
}

/* 菜单选中文字的颜色 */
:deep(.el-menu-item.is-active){
  color:#409eff !important;
}

/* 当前打开菜单的所有子菜单颜色 */
:deep(.is-opened .el-menu-item){
  background-color: #1f2d3d !important;
}

/* 鼠标移动到菜单上的颜色 */
:deep(.el-menu-item:hover){
  background-color: #001528 !important;
}
</style>